<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Savify.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Savify.Core.Settings>
            <setting name="YouTubeDl" serializeAs="String">
                <value>youtube-dl.exe</value>
            </setting>
            <setting name="FFmpeg" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>256K</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="RestrictFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>ytsearch</value>
            </setting>
        </Savify.Core.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>